<div class="m-2">
    <button type="button" class="btn btn-primary" (click)="showNumberDetail()">Numbers</button>
    <button type="button" class="btn btn-primary" (click)="showParagraphDetail()">Paragraphs</button>
</div>
<div *ngIf="isLoading" class="m-2">
    <progressbar max="100" [value]="100" type="success" [striped]="true" [animate]="true"><i>Loading...</i></progressbar>
</div>
<router-outlet></router-outlet>
