<div *ngIf="processedData" class="mx-2">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Number</th>
            <th scope="col">quantity</th>
            <th scope="col">First pos</th>
            <th scope="col">Last pos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of numberData.data; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{item}}</td>
            <td>{{item}}</td>
            <td>{{i}}</td>
            <td>asd</td>
          </tr>
        </tbody>
    </table>
</div>
